body{
    background-image: url(https://raw.githubusercontent.com/patrik238/patrik238.github.io/refs/heads/main/netflix/kep/hatter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
}

h2, h3 {
    text-align: center;
    color: white;
    padding: 3px;
}

body, html{
    height: 100%;
    box-sizing: border-box;
}
