body{
    background-image: 
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
}

h2, p{
    text-align: center;
}

body, html{
    height: 100%;
    box-sizing: border-box;
}

