body{
    background-image: url(https://raw.githubusercontent.com/patrik238/patrik238.github.io/refs/heads/main/netflix/kep/hatter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: white;
    padding: 8px;
}

body, html{
    height: 100%;
    box-sizing: border-box;
}

.navbar{
    margin-bottom: 10px;
}


#subscription{
    color:#e30a15;
}

html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; 
}

footer {
    margin-top: auto; 
}

.prices{
    color:#e30a15;
}

li, h5{
    margin: 5px;
}