#keret {
  margin: 0px auto;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;
  
  
}

#kep1 {
  height: 150px;
  
  float: right;
  
}

a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}
.img-thumbnail{
	width:250px;
	height:200px;
}


h1, h2 {
  font-family: Verdana;
  color:grey;
}

p, li {
  
  text-indent: 20px;
}

#keret{
  background-color: rgba(234, 200, 150, 0.9)
}

.kep1{
  margin: 20px;
}

a

#forras{
  margin-top: 30px;
}